*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!output/*.jar
!JSPMainProject/third-party/*.jar
!JavaMain/third-party/*.jar
!JavaMain/**
!SpringFrameworkDebug/third-party/*.jar
!SpringFrameworkDebug/debug/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
.recommenders

!TomcatServlet/third-party/*

#ignore eclipse workspace
eclipse_workspace
eclipse-workspace
ec


#target
target

.DS_Store
